.container {
    padding: 0 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 32px;
    margin-top: 80px;
}

.sectionMargin {
    height: 64px;
}

.title {
    grid-column: 1 / span 3;
    font-size: 4.0rem;
    font-weight: bold;
}

.content {
    grid-column: 4 / 12;
}

.profileImage {
    width: 320px;
    height: 320px;
    margin-bottom: 40px;
    object-fit: contain;
}

.myName {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    font-weight: bold;
}

.myNameEn {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: normal;
}

.bodyText {
    line-height: 2.0;
}

.bodyTextParagraph {
    margin-bottom: 32px;
}

.bodyTextSubhead {
    margin-bottom: 8px;
    font-weight: bold;
}

.bioTable {
    width: 100%;
}